@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/*
 * HTML
 * -------------------------------------------------------------------
 */
html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.09rem;
  color: #000000;
  width: 100%;
  margin: auto;
  line-break: normal;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*
 * wrapper
 * -------------------------------------------------------------------
 */
.wrapper {
  display: block;
  margin: 0px auto;
  padding: 0px;
  min-height: 100vh;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-behavior: auto;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.footer {
  margin: 0 auto;
  height: 47rem;
  width: 100%;
  padding-bottom: 8.7rem;
  background-color: #2D765A;
}
.footer__container {
  text-align: center;
  padding: 6.8rem 0;
  color: #FFFFFF;
  max-width: 40rem;
  width: 95%;
  margin: 0 auto;
}
.footer__sns {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__sns-icon {
  margin: 0 2rem;
}
.footer__sns-facebook, .footer__sns-twitter {
  color: #2D765A;
  background: #FFFFFF;
  border-radius: 50%;
  font-size: 2.3rem;
  line-height: 4rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
}
.footer__sns-instagram {
  font-size: 4.5rem;
  display: inline-block;
  vertical-align: top;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 3rem;
}
.footer__logo-text {
  font-size: 2.25rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__logo-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer__copy {
  font-size: 1.3rem;
}

.footer-contact__box {
  border: 1px solid #FFFFFF;
  padding: 1rem;
  margin-bottom: 3rem;
}
.footer-contact__text {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer-contact__table {
  font-weight: bold;
  margin: 0 auto;
}
.footer-contact__tel-header {
  font-size: 3.5rem;
}
.footer-contact__tel-data {
  font-size: 3.5rem;
}
.footer-contact__table-data {
  -moz-text-align-last: left;
       text-align-last: left;
  padding-left: 1rem;
}
.footer-contact__mail-data {
  letter-spacing: 0;
}

.nav-drawer {
  display: none;
}

.nav-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #FFFFFF;
  /* ---------- pcサイズのヘッダーメニュー ---------- */
  /* ---------- ./pcサイズのヘッダーメニュー ---------- */
}
.nav-header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 8.7rem;
  padding: 0 0 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-header__company-logo {
  width: 100%;
}
.nav-header__company-logo-img {
  margin: auto;
  width: 231.5px;
}
.nav-header__menu {
  display: none;
}
.nav-header__toggle {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8.7rem;
  height: 8.7rem;
  cursor: pointer;
  background: #FFFFFF;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .nav-header__toggle {
    display: none;
  }
}
.nav-header__toggle-line {
  display: block;
  width: 55%;
  border-bottom: 2px solid #505050;
  margin-top: 10px;
}
.nav-header__toggle-text {
  margin-top: 5px;
  font-size: 1.5rem;
}

.cv-bottom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
}
.cv-bottom-btn__link {
  width: 50%;
  display: block;
  text-align: center;
  line-height: 87.5px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #7C7C7C;
  height: 87.5px;
}

.page-heading__container {
  text-align: center;
  margin-bottom: 4rem;
}
.page-heading__text-main {
  font-size: 4.4rem;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}
.page-heading__text-sub {
  font-size: 2.5rem;
}

.post-heading-wrapper {
  text-align: center;
}

.post-heading {
  display: inline-block;
  font-size: 2.4rem;
  border: 2px solid #000000;
  border-radius: 51px;
  height: 5.05rem;
  margin: 0 auto;
  text-align: center;
  line-height: 5.05rem;
}

.price-box {
  background: #F7FDF2;
  padding: 1.5rem 0;
  width: 100%;
}
.price-box__top {
  border-bottom: 2px solid #CECECE;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.5rem;
}
.price-box__bottom {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.5rem;
}
.price-box__text-main {
  font-weight: bold;
  font-size: 2.4rem;
}
.price-box__text-sub {
  font-size: 1.6rem;
}
.price-box__price {
  font-size: 2.4rem;
}
.price-box__menu {
  font-weight: bold;
}

.instagram, .lessons, .price, .trial, .access, .instructor, .schedule {
  position: relative;
}
.instagram__heading::before, .lessons__heading::before, .price__heading::before, .trial__heading::before, .access__heading::before, .instructor__heading::before, .schedule__heading::before {
  position: absolute;
  right: 50%;
  top: -40px;
  content: "";
  background: #000000;
  width: 2px;
  height: 77px;
}

.about {
  background-color: #F2F5F5;
}
.about__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .about__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .about__container {
    max-width: 1200px;
    width: 90%;
  }
}
.about__content-title {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.0016rem;
  margin-bottom: 6.8rem;
}
.about__content-title::before {
  position: absolute;
  right: 50%;
  top: -40px;
  content: "";
  background: #000000;
  width: 2px;
  height: 77px;
}
.about__content-text {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.3;
}

.access {
  background: #DBE6D2;
}
.access__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .access__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .access__container {
    max-width: 1200px;
    width: 90%;
  }
}
.access__google-map {
  padding: 25px 15px;
  margin-bottom: 102px;
}
.access__heading {
  padding: 0 5rem;
  margin-bottom: 4.35rem;
}

.google-map {
  background: #FFFFFF;
}
.google-map__link {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.google-map__company-logo {
  width: 215px;
  margin-bottom: 18px;
}
.google-map__address {
  font-weight: bold;
  margin-bottom: 18px;
  letter-spacing: 0.045rem;
}
.google-map__parking {
  font-weight: bold;
  letter-spacing: 0.045rem;
}

.parking__map-img {
  width: 100%;
  margin-bottom: 94px;
}
.parking__directions-img {
  width: 100%;
}

.instagram {
  background-color: #E2EAEA;
}
.instagram__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .instagram__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .instagram__container {
    max-width: 1200px;
    width: 90%;
  }
}
.instagram__content {
  max-width: 45.75rem;
  width: 100%;
  height: 45.75rem;
  border: 1px solid #000;
}
.instagram__icon {
  padding-left: 5px;
}
.instagram__icon-fab {
  font-size: 3rem;
  vertical-align: bottom;
}
.instagram__icon-text {
  font-weight: bold;
  font-size: 2.5rem;
}

.instructor {
  position: relative;
  background: #FFFFFF;
}
.instructor__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .instructor__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .instructor__container {
    max-width: 1200px;
    width: 90%;
  }
}
.instructor__heading::after {
  position: absolute;
  right: 0;
  content: "";
  width: 380px;
  height: 263px;
  border: #DBE6D2;
  background: #DBE6D2;
}
.instructor__thumbnail {
  width: 100%;
  margin-bottom: 40rem;
}
.instructor__thumbnail-img {
  width: 100%;
  max-width: 474px;
  position: absolute;
  left: 0;
  top: 290px;
  z-index: 1;
}
.instructor__profile {
  padding: 0 2rem;
  margin-bottom: 5rem;
}
.instructor__name {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.instructor__name-en {
  font-size: 2.25rem;
  padding-left: 2rem;
}
.instructor__career {
  font-size: 2.1rem;
}
.instructor__career-hyphen {
  color: #45906A;
  padding-right: 1rem;
}
.instructor__about {
  font-size: 2.1rem;
  line-height: 1.8;
  margin-bottom: 4.7rem;
}
.instructor__message-title {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}
.instructor__message-text {
  font-size: 2.1rem;
  line-height: 1.8;
}

.lessons {
  position: relative;
  background-color: #F2F5F5;
}
.lessons__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .lessons__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .lessons__container {
    max-width: 1200px;
    width: 90%;
  }
}

.lessons-list {
  padding: 0;
}
.lessons-list__content {
  background: #FFFFFF;
  margin-bottom: 3.2rem;
  padding: 1rem 3.2rem;
  font-weight: bold;
}
.lessons-list__lesson-title {
  font-size: 3rem;
}

.lessons-message__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}
.lessons-message__title {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
  width: 30%;
}
.lessons-message__title_border {
  display: inline-block;
  margin-right: 8px;
  padding-right: 0.15em;
  border-right: 3px solid #070002;
}
.lessons-message__thumbnail {
  width: 60%;
  position: absolute;
  right: 0;
}
.lessons-message__thumbnail-img {
  width: 100%;
  height: 100%;
}
.lessons-message__text {
  font-size: 2.1rem;
  letter-spacing: 0.042rem;
  line-height: 1.95;
}

.news {
  background-color: #DBE6D2;
}
.news__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .news__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .news__container {
    max-width: 1200px;
    width: 90%;
  }
}
.news__heading {
  padding-bottom: 1rem;
}
.news__list-item {
  height: 51.7rem;
  max-width: 37.05rem;
  width: 100%;
  background-color: #FFFFFF;
}
.news__thumbnail {
  padding: 1.55rem;
}
.news__thumbnail-img {
  width: 100%;
}
.news__content {
  padding: 0 3.4rem;
}
.news__content-date {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1.15rem;
}
.news__content-title {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1.15rem;
}
.news__content-text {
  letter-spacing: 0.0036rem;
  margin-bottom: 3.5rem;
}
.news__content-btn {
  display: inline-block;
  font-size: 2.1rem;
  text-align: center;
  line-height: 4.85rem;
  width: 15.65rem;
  height: 4.85rem;
  border: 2px solid #707070;
  margin-top: 3%;
}

.price {
  background: #DBE6D2;
}
.price__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .price__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .price__container {
    max-width: 1200px;
    width: 90%;
  }
}
.price__drop-in {
  margin-bottom: 6.6rem;
}

.drop-in__box {
  margin-bottom: 0.5rem;
}
.drop-in__note {
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.coupon__heading {
  margin-bottom: 1.35rem;
  padding: 0 5.5rem;
}
.coupon__heading-note {
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  text-align: center;
  margin-bottom: 4.5rem;
}
.coupon__list {
  padding-left: 0;
}
.coupon__list-item {
  margin-bottom: 6.4rem;
}
.coupon__box {
  position: relative;
}
.coupon__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.coupon__box-top, .coupon__box-bottom {
  margin-right: 0;
}
.coupon__thumbnail {
  position: absolute;
  top: -20px;
  left: -15px;
}
.coupon__thumbnail-img {
  max-width: 19.6rem;
  max-height: 13rem;
  -webkit-box-shadow: -12px 20px 16px #796A4B66;
          box-shadow: -12px 20px 16px #796A4B66;
}
.coupon__note {
  letter-spacing: 0.08rem;
  margin-bottom: 6.5rem;
}

.private__heading {
  margin-bottom: 5.5rem;
  padding: 0 3rem;
}
.private__alone {
  margin-bottom: 4.4rem;
}

.multiple-people__box {
  margin-bottom: 3.6rem;
}
.multiple-people__price-table {
  margin: 0 auto;
}
.multiple-people__price-item {
  text-align: left;
}
.multiple-people__table-note {
  text-align: right;
}
.multiple-people__note {
  letter-spacing: 0.05rem;
  line-height: 1.8;
}

.reservation {
  background: #F2F5F5;
}
.reservation__container {
  margin: 0 auto;
  width: 95%;
  padding: 0 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .reservation__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .reservation__container {
    max-width: 1200px;
    width: 90%;
  }
}
.reservation__text {
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 3rem;
}
.reservation__box {
  background: #FFFFFF;
  padding: 3rem 0;
  margin-bottom: 11.4rem;
}
.reservation__box-text {
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
}
.reservation__box-text:nth-of-type(-n+2) {
  margin-bottom: 2rem;
}
.reservation__content {
  margin-bottom: 5rem;
}
.reservation img {
  border: 0.5px solid gray;
}
.reservation__form-mark-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reservation__form-mark {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.schedule {
  background: #F2F5F5;
}
.schedule__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .schedule__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .schedule__container {
    max-width: 1200px;
    width: 90%;
  }
}
.schedule__heading {
  margin-bottom: 4rem;
}
.schedule__img {
  width: 100%;
}

.top-mainview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1021.5px;
  width: 100%;
  margin: 0;
  text-align: center;
  background-image: url("../images/studio.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 8.7rem auto 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top-mainview__logo-img {
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px;
  max-height: 180px;
  width: 100%;
}
.top-mainview__text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.5em;
  text-shadow: 3px 3px 20px #0000001A;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: auto;
  margin-bottom: 50px;
  text-align: left;
}
.top-mainview__text_bottom {
  padding-top: 80px;
}

.trial {
  background: #F2F5F5;
}
.trial__container {
  margin: 0 auto;
  width: 95%;
  padding: 100px 0 120px;
  max-width: 462.5px;
}
@media screen and (min-width: 600px) {
  .trial__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .trial__container {
    max-width: 1200px;
    width: 90%;
  }
}
.trial__box {
  margin-bottom: 12rem;
}

.trial-box {
  background: #FFFFFF;
  padding: 4.25rem 0;
  width: 100%;
  text-align: center;
}
.trial-box__title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.trial-box__menu {
  font-size: 2.4rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5rem;
}
.trial-box__menu::after {
  display: block;
  content: "";
  max-width: 300px;
  width: 100%;
  height: 7px;
  background: #FFE86A;
  position: absolute;
  left: 80px;
  top: 60px;
}
.trial-box__price {
  font-size: 4.6rem;
  font-weight: bold;
}
.trial-box__60minute-note {
  letter-spacing: 0.045rem;
  border-bottom: 2px solid #CECECE;
  width: 95%;
  margin: 0 auto 1.5rem;
  padding-bottom: 3.5rem;
}
.trial-box__80minute-note {
  letter-spacing: 0.045rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.trial-step__list {
  padding: 0;
}
.trial-step__list-item:nth-of-type(-n +3) {
  margin-bottom: 8rem;
}
.trial-step__box {
  background-color: #FFFFFF;
  padding: 2.8rem 1rem;
  position: relative;
  margin-bottom: 1rem;
}
.trial-step__title {
  position: absolute;
  top: -7rem;
  right: 32%;
  left: 32%;
  color: #BCBCBC;
  font-size: 3rem;
  text-align: center;
}
.trial-step__title-number {
  font-size: 7rem;
  font-weight: normal;
  margin-left: 0.5rem;
  letter-spacing: 0.2rem;
}
.trial-step__text {
  font-weight: bold;
  letter-spacing: 0.045rem;
}
.trial-step__note {
  width: 95%;
  margin: 0 auto 1rem;
  letter-spacing: 0.045rem;
  line-height: 1.8;
}
.trial-step__note-img {
  width: 95%;
}
/*# sourceMappingURL=style.css.map */
