@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap");
/*
 * HTML
 * -------------------------------------------------------------------
 */
html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.09em;
  color: #000000;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*
 * wrapper
 * -------------------------------------------------------------------
 */
.wrapper {
  display: block;
  margin: 0px auto;
  padding: 0px;
  min-height: 100vh;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-behavior: auto;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.nav-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #FFFFFF;
}
.nav-header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 462px;
  height: 8.7rem;
  padding: 0 0 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 600px) {
  .nav-header__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1000px) {
  .nav-header__container {
    max-width: 1200px;
  }
}
.nav-header__company-logo {
  width: 100%;
}
.nav-header__company-logo-img {
  margin: auto;
  width: 231.5px;
}
.nav-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 600px) {
  .nav-header__menu {
    display: none;
  }
}
.nav-header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-header__link {
  padding: 0 20px;
  line-height: 8.7rem;
}
.nav-header__toggle {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8.7rem;
  height: 8.7rem;
  cursor: pointer;
  background: #FFFFFF;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .nav-header__toggle {
    display: none;
  }
}
.nav-header__toggle-line {
  display: block;
  width: 50%;
  border-bottom: 2px solid #505050;
  margin-bottom: 10px;
}
.nav-header__toggle-text {
  font-size: 1.6rem;
}
/*# sourceMappingURL=style.css.map */
