// news

@use "../mixin" as m;
@use "../setting" as s;

.news {

    background-color: s.$color_green;

    &__container {
        @include m.container("default");
    }

    &__heading {
        padding-bottom: 1rem;
    }

    &__list-item {
        height: 51.7rem;
        max-width: 37.05rem;
        width: 100%;
        background-color: s.$color_white;
    }

    &__thumbnail {
        padding: 1.55rem;
    }

    &__thumbnail-img {
        width: 100%;
    }

    &__content {
        padding: 0 3.4rem;
    }

    &__content-date {
        font-size: 2.1rem;
        font-weight: bold;
        margin-bottom: 1.15rem;
    }

    &__content-title {
        font-size: 2.1rem;
        font-weight: bold;
        margin-bottom: 1.15rem;
    }

    &__content-text {
        letter-spacing: 0.0036rem;
        margin-bottom: 3.5rem;
    }

    &__content-btn {
        display: inline-block;
        font-size: 2.1rem;
        text-align: center;
        line-height: 4.85rem;
        width: 15.65rem;
        height: 4.85rem;
        border: 2px solid #707070;
        margin-top: 3%;
    }
    

}