// reservation

@use "../mixin" as m;
@use "../setting" as s;

.reservation {

    background: s.$color_gray_light;

    &__container {
        @include m.container("reservation");
    }

    &__text {
        width: 90%;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    &__box {
        background: s.$color_white;
        padding: 3rem 0;
        margin-bottom: 11.4rem;
    }

    &__box-text {
        width: 90%;
        margin: 0 auto;
        font-weight: bold;
        &:nth-of-type(-n+2){
            margin-bottom: 2rem;
        }
    }

    &__content {
        margin-bottom: 5rem;
    }

    & img {
        border: 0.5px solid gray;
    }

    &__form-mark-wrapper {
        display: flex;
    }

    &__form-mark {
        font-size: 2.5rem;
        font-weight: bold;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

}