// schedule

@use "../mixin" as m;
@use "../setting" as s;

.schedule {

    background: s.$color_gray_light;

    &__container {
        @include m.container("default");
    }

    &__heading {
        margin-bottom: 4rem;
    }

    &__img {
        width: 100%;
    }
}