// trial

@use "../mixin" as m;
@use "../setting" as s;

.trial {

    background: s.$color_gray_light;

    &__container {
        @include m.container("default");
    }

    &__box {
        margin-bottom: 12rem;
    }
    
}

.trial-box {
    background: s.$color_white;
    padding: 4.25rem 0;
    width: 100%;
    text-align: center;
    
    &__title {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
    }
    
    &__menu {
        font-size: 2.4rem;
        font-weight: bold;
        position: relative;
        margin-bottom: 0.5rem;

        &::after{
            display: block;
            content: "";
            width: 300px;
            height: 7px;
            background: #FFE86A;
            position: absolute;
            left: 80px;
            top: 60px;
        }
    }
    
    &__price {
        font-size: 4.6rem;
        font-weight: bold;
    }
    
    &__60minute-note {
        letter-spacing: 0.045rem;
        border-bottom: 2px solid #CECECE;
        width: 95%;
        margin: 0 auto 1.5rem;
        padding-bottom: 3.5rem;
    }

    &__80minute-note {
        letter-spacing: 0.045rem;
        padding-bottom: 1.5rem;
        margin: 0 auto;
    }
}

.trial-step {

    &__list {
        padding: 0;
    }

    &__list-item {
        &:nth-of-type(-n +3){
            margin-bottom: 8rem;
        }
    }
    
    &__box {
        background-color: s.$color_white;
        padding: 2.8rem 1rem;
        position: relative;
        margin-bottom: 1rem;
    }

    &__title {
        position: absolute;
        top: -7rem;
        right: 32%;
        left: 32%;
        color: #BCBCBC;
        font-size: 3rem;
        text-align: center;

        &-number {
            font-size: 7rem;
            font-weight: normal;
            margin-left: 0.5rem;
            letter-spacing: 0.2rem;
        }
    }
    
    &__text {
        font-weight: bold;
        letter-spacing: 0.045rem;
    }

    &__note {
        width: 95%;
        margin: 0 auto 1rem;
        letter-spacing: 0.045rem;
        line-height: 1.8;
    }

    &__note-img {
        width: 95%;
    }


}
