//container

@use '../setting' as s;
@use "./responsive" as r;

@mixin container($type: "default") {
    
    @if $type == "default" {
        margin: 0 auto;
        width: 95%;
        padding: 100px 0 120px;
        max-width: s.$content_width_sp;
        @include r.responsive("tablet"){
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("pc"){
            max-width: s.$content_width_pc;
            width: 90%;
        }

    } @else if $type == "reservation" {
        margin: 0 auto;
        width: 95%;
        padding: 0 0 120px;
        max-width: s.$content_width_sp;
        @include r.responsive("tablet"){
            max-width: s.$content_width_tablet;
        }
        @include r.responsive("pc"){
            max-width: s.$content_width_pc;
            width: 90%;
        }

    } @else if $type == "mainview" {
        display: flex;
        height: 1021.5px;
        width: 100%;
        margin: 0;
        text-align: center;

    } @else if $type == "nav-header" {
        margin: 0 auto;
        width: 100%;
        
    } @else if $type == "footer" {
        margin: 0 auto;
        height: 47rem;
        width: 100%;
        padding-bottom: 8.7rem;
    }
}